{{ ansible_managed | comment }}
deb [signed-by={{ gitlab_common_gpg_key_dest }}] {{ gitlab_common_repo_url }} {{ ansible_distribution_release | lower }} main
deb-src [signed-by={{ gitlab_common_gpg_key_dest }}] {{ gitlab_common_repo_url }} {{ ansible_distribution_release | lower }} main
